.menuTop {
    display:flex;
    justify-content: space-around;
}

.MessageList {
    background-color:rgba(0, 255, 255, 0.158);
    height: 60vh;
    width: 90vw;
    overflow-y: scroll;
}

.MessageInput{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.inputBlock {
    margin-left: 1vw;
    margin-right: 5vw;
}

.inputChatName {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 15px;
}

.message{
    width: 60%;
}

.left{
    float:left;
}

.right{
    float:right;
}

.menuLink {
    text-decoration: none;
    font-size: large;
}

.menuLink:visited {
    color:white;
}

.MessageInput_group {
    display: flex;
    justify-content: space-around;
}

.red {
    color: red!important;
}

.green {
    color: rgb(106, 240, 106);
}

.pink {
    color: pink;
}

.chatString{
    display: flex;
    justify-content: start;
    padding-top: 20px;
}

.chat_btn {
    margin-left: 5px!important;
}